<section id="one" class="wrapper style_fail align-center">
    <div class="container">
        <div id="step1">
            <p>This site supports..</p>
            <h2 id="protocol_result">HTTP/2</h2>
        </div>
        <ul class="actions">

        </ul>
    </div>
</section>

<script src="js/check_result.js"></script>