<html>
<head>
    <title></title>
</head>
<body>
<form name="user" method="post" action="/mysql_send">
    <b>Add Users</b><p>
    name <input type="text" name="name"/>
    <br>
    grade <input type="text" name="grade"/>
    <br>
    <button type="submit" >Submit</button>
</form>
</body>
</html>