<section id="two" class="wrapper style2 align-center">
    <div class="container">
        <div id="step2">
            <h1 id="text">Crawling Webpage</h1>
            <div id="progressbar">
                <div id="progress">
                    <div id="pbaranim"></div>
                </div>
            </div>
            <p id ="baseText">Network Capturing..</p>
        </div>
    </div>
</section>

