<section id="two" class="wrapper style2 align-center">
    <div class="container">
        <div id="step2">
            <h1>Crawling Webpage</h1>
            <div id="progressbar">
                <div id="progress">
                    <div id="pbaranim"></div>
                </div>
            </div>
            <p>Network Capturing..</p>
            <h2>Progressing : <span>50%</span></h2>
        </div>
    </div>
</section>

