.news_html P { font-size: 14px; font-family: 나눔고딕, 돋움, dotum, 굴림, gulim, Helvetica; }
.news_html SPAN { font-size: 14px; font-family: 나눔고딕, 돋움, dotum, 굴림, gulim, Helvetica; }
.news_html DIV { font-size: 14px; font-family: 나눔고딕, 돋움, dotum, 굴림, gulim, Helvetica; }
.news_html H3 { width:100%; text-align:center; font-size: 16px; font-family: 나눔고딕, 돋움, dotum, 굴림, gulim, Helvetica; }
.news_html TABLE { border-spacing: 1px; background-color:gray; font-size: 14px; font-family: 나눔고딕, 돋움, dotum, 굴림, gulim, Helvetica; }
.news_html TD { text-align:center; background-color:white; font-size: 14px; font-family: 나눔고딕, 돋움, dotum, 굴림, gulim, Helvetica; }
.news_out { margin-left:-8px; width: 708px; padding: 8px; background-color:white; }
.news_html span.f-img-wrap { line-height: 0; display: block; text-align: center; }
.patchNote2014 span.f-img-wrap { line-height: 0; display: block; text-align: left; }
.news_author { width: 100%; text-align:right; }
.news_top
{
        background-color: #7ac;
        background-image:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #04c), color-stop(0.02, #48d), color-stop(1, #7ac));
        background-image:-moz-linear-gradient(top, #04c, #48d 2%, #7ac);
        background-image:-o-linear-gradient(top, #04c, #48d 2%, #7ac);
        margin-top: 12px;
        margin-left:-8px;
        width:713px; height:16px; text-align:left; position:relative;
        padding:3px 3px 3px 6px;
        border: 1px solid #15E; color: #FFF;
}
.news_box
{
        margin-left:-8px;
        width: 722px;
        background-color:white;
        border: 1px solid #ACE;
        margin-bottom:5px;
}
.news_body
{
        margin-left:-8px;
        width: 722px;
        height: 65px;
        background-color:white;
        border: 1px solid #ACE;
        margin-bottom:5px;
}
.news_write
{
        position:absolute;
        top:3px;
        right:6px;
        color:#FFF;
        cursor:pointer;
}
.fow_news
{
	display:inline-block;
	width:auto;
        background: url("img/news_li.png") no-repeat scroll left center transparent;
        overflow: hidden;
        white-space: nowrap;
        line-height: 14px;
        margin: 3px 0 0 8px;
        padding: 2px 0 0 8px;
        cursor:pointer;
}
.box_item
{
	display:inline-block;
	width:auto;
        background: url("img/news_li.png") no-repeat scroll left center transparent;
        overflow: hidden;
        white-space: nowrap;
        line-height: 14px;
        margin: 3px 0 0 8px;
        padding: 2px 0 0 8px;
        cursor:pointer;
}

